{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        {% for review in review_list %}
        <div class="col-md-12 mb-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ review.title }}</h2>
                    <hr>
                    <p class="card-text text-black h6"><span class="text-muted">Service reviewd: </span>{{ review.service }}</p>
                    <hr>
                    <p class="card-text text-sub h6"><span class="text-muted">Date: </span>{{ review.created_on }}</p>
                    <p class="card-text text-sub h6"><span class="text-muted">Author: </span>{{ review.author }}</p>
                    <div class="stars" style="--rating: {{ review.rating }};" aria-label="Rating of this product is {{ review.rating }} out of 5."></div>
                    <hr>
                </div>
                <div class="card-body">
                    {{ review.review_text | safe }}
                </div>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:1 %}
</div>
<div class="row mt-3">
    {% endif %}
    {% endfor %}
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
