<!-- Button to continue shopping -->
<a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <!-- Icon indicating going back to shopping -->
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <!-- Text indicating the action to take -->
    <span class="text-uppercase">Keep Shopping</span>
</a>

<!-- Button for secure checkout -->
<a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
    <!-- Text indicating the action to take -->
    <span class="text-uppercase">Secure Checkout</span>
    <!-- Icon indicating secure transaction -->
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>