{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<hr>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Left Column -->
        <div class="col-lg-6">
            <div class="text-center">
                <h3>
                    Buying a used car can be stressful...
                </h3>
                <hr>
                <h3>But not with us!</h3>
                <hr>
                <p class="text-left font-weight-light">
                    We deliver a complete, clear, accurate and timely assessment of the vehicle under consideration so
                    you can make the most informed buying decision possible.
                    We were born out of a desire to arm customers with essential knowledge required to make an
                    important, financially significant car buying decision.
                </p>
                <p class="text-left font-weight-light">
                    We rely on our expirience and CARFAX Reports every day to help you decide whether or not to buy a
                    used
                    car. Each report contains information about whether the car in question has been in an accident, has
                    any
                    open recalls, previous owners, service history and much, much more. Available for all cars with a
                    VIN
                    (1982 and newer).
                </p>
                <p class="text-left font-weight-light">
                    We can also assess your vehicle's fare market value to give you peace of mind when considering how
                    much the vehicle is worth. Do not hesitate, call us now on +353 806 123 555 !
                </p>
                <p class="text-left font-weight-light">
                    Our expert inspector will contact your seller to verify the availability of the vehicle and set up
                    an appointment to inspect your automobile. The inspector will go directly to the vehicle to perform
                    the inspection.
                </p>
                <hr>
                <div class="text-center">
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Book your test now!
                    </a>
                </div>
                <hr>
            </div>
            <div class="mt-5">
                <!-- Example Customer Review -->
                <h4>5 star service!</h4>
                <blockquote class="blockquote">
                    <p class="mb-0">Thanks! Your inspection saved us from buying a car that would have been a
                        considerable disappointment. Your inspector's fair but critical eye is much appreciated.</p>
                    <p class="blockquote-footer">John D.</p>
                </blockquote>
            </div>
        </div>
        <!-- Right Column -->
        <div class="col-lg-6 d-none d-lg-block align-items-center center-banner">
            <img src="{% static 'images/index_mechanic.jpg' %}" alt="Service Image"
                class="img-fluid w-100 index-image rounded">
        </div>
    </div>
</div>
{% endblock %}