<div class="collapse navbar-collapse border-black" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-sub mr-5 px-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Go to about us page">
                About us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
                <a href="{% url 'reviews' %}" class="dropdown-item ">Customer ratings</a>
                <a href="{% url 'faq' %}" class="dropdown-item ">FAQ</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-sub mr-5 px-2" href="{% url 'products' %}" aria-haspopup="true" aria-expanded="false" aria-label="Go to services page">
                Services
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-sub mr-5 px-2" href="{% url 'blog' %}" aria-haspopup="true" aria-expanded="false" aria-label="Go to car blog page">
                Car blog
            </a>
        </li>
    </ul>
</div>