{% extends "base.html" %}
{% load static %}

<!-- HEADER -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- MAIN CONTENT -->
{% block content %}
<!-- Display an overlay -->
<div class="overlay"></div>

<!-- Create a container for the main content -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <!-- Display a heading for product management -->
            <h2 class="logo-font mb-4">Product Management</h2>
            <!-- Display a subheading for editing a product -->
            <h3 class="text-muted">Edit a Product</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <!-- Create a form for editing a product -->
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                <!-- Render form fields (excluding the image field) using the crispy_forms filter -->
                {{ field | as_crispy_field }}
                {% else %}
                <!-- Render the image field separately -->
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <!-- Add a button to cancel the edit and return to the product list -->
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    <!-- Add a button to submit the edited product -->
                    <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- JAVASCRIPT -->
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}